.App {
  position: absolute;
  text-align: center;
  align-items: flex-end;
  width: 100%;
}

.btn-twt {
  border-radius: 30px;
  border: none;
  background-color: #5d1eb2;
  padding: 10px 20px;
  box-shadow: 0.1px 0.8px 0.8px 0.8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-twt a {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.Header {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./images/Group.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.section {
  position: relative;
  margin-left: 5%;
  display: block;
  justify-content: center;
}

.navbar {
  position: relative;
  z-index: 1 !important;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.logo-att {
  margin-right: 8px;
}

.title {
  position: relative;

  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 16px;
}

.subtitle {
  display: flex;
  vertical-align: middle;
  position: relative;

  color: white;
  text-align: left;
  padding-left: 5%;
  padding-top: 16px;
  padding-bottom: 5%;
  width: 50%;
  font-weight: normal;
}

.text h6 {
  margin-bottom: 8px;
  font-weight: normal;
  color: #656565;
  font-size: 14px;
}

h4 {
  margin-bottom: 1px;
  font-weight: normal;
  margin-top: 8px;
  font-size: 14px;
}

h6 {
  font-style: italic;
  margin-top: 6px;
}

.text h3 {
  margin-top: 18px;
  margin-bottom: 8px;
  font-weight: normal;
}

.subtitle h3 {
  font-weight: normal;
}

.tweetbox {
  padding-left: 5%;
  padding-right: 5%;
  bottom: 0px;
  word-wrap: break-word;
  height: 70px;
}

h1 {
  margin: 0px;
  font-size: 100px;
}

.title h1 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .title h1 {
    width: 260px;
    font-size: 38px !important;
    padding-top: 80px !important;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #5d1eb2;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1 !important;
  }
  .logo-gone {
    display: none;
  }
  .subtitle {
    width: 80%;
  }
  h3 {
    width: 100% !important;
    font-size: 18px !important;
  }

  .Header {
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/Group (2).svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .card {
    width: 160px !important;
    height: 260px;
    margin-right: 8px;
  }
  .card a {
    font-size: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
    color: #656565;
  }
  .card h3 {
    font-size: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .card h4 {
    font-size: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .card h6 {
    font-size: 8px !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  .tweetbox {
    height: 30px !important;
    padding-bottom: 5px;
  }

  .like img {
    width: 10px;
    height: 10px;
  }

  .like p {
    font-size: 10px;
  }

  .btn-twt a {
    font-size: 14px !important;
  }
  .btn-twt {
    padding: 5px 15px !important;
  }
}
