.App {
  position: absolute;
  text-align: center;
  align-items: flex-end;
  width: 100%;
}

.Header {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200vh;
  background-image: url("./images/BG.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.section {
  position: relative;
  margin-left: 5%;
  display: block;
  justify-content: center;
}

.navbar {
  position: relative;
  z-index: 1 !important;
  background-color: #5d1eb2;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.logo-att {
  margin-right: 8px;
}

.title {
  position: relative;
  z-index: 1 !important;
  background-color: #5d1eb2;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 16px;
}

.subtitle {
  display: flex;
  vertical-align: middle;
  position: relative;
  z-index: 1 !important;
  background-color: #5d1eb2;
  color: white;
  text-align: left;
  padding-left: 5%;
  padding-top: 16px;
  padding-bottom: 5%;
  width: 50%;
  font-weight: normal;
}

.text h6 {
  margin-bottom: 8px;
  font-weight: normal;
  color: #656565;
  font-size: 14px;
}

h4 {
  margin-bottom: 1px;
  font-weight: normal;
  margin-top: 8px;
  font-size: 14px;
}

h6 {
  font-style: italic;
  margin-top: 6px;
}

.text h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: normal;
}

.subtitle h3 {
  font-weight: normal;
}

.tweetbox {
  padding-left: 5%;
  padding-right: 5%;
  bottom: 0px;
  word-wrap: break-word;
}

h1 {
  margin: 0px;
  font-size: 100px;
}

.title h1 {
  color: white;
}

.timeline {
  z-index: 2;
}
