@font-face{
    font-family: 'Proxima Nova';
    font-weight: normal;
    src: url("./fonts/ProximaNova-Regular.otf") format("opentype");
}

html, body {
  font-family: 'Proxima Nova';
}

h3{
  font-size: 20px;
  line-height: 23px;
}

.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 314px;
  height: 440px;
  padding: 20px 0 10px 0;
  position: relative;
  transition: all 0.4s;
  margin-bottom: 40px;
  float: left;
  box-sizing: border-box;
  margin-right: 15px;
}

.temcard {
  display: block;
  width: 90%;
  margin: 2% 5% 0 5%;
}
.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.profile .photo img {
  width: 75%;
  border-radius: 3px;
}
