@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  src: url("./fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  src: url("./fonts/ProximaNova-Extrabold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url("./fonts/ProximaNovaCond-Regular.otf") format("opentype");
}

html,
body {
  font-family: "Proxima Nova";
  background-color: #ff223e;
  margin: 0 !important;
  z-index: -2 !important;
}

h3 {
  font-size: 20px;
  line-height: 23px;
  margin: 0px;
}
h6 {
  margin: 0px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #656565;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  border-radius: 5px;
  width: 23%;
  height: 520px;
  padding: 20px 0 0 0;
  position: relative;
  transition: all 0.4s;
  margin-bottom: 40px;
  float: left;
  box-sizing: border-box;
  margin-right: 15px;
  background-color: #ffffff;
}

.like{
  position: absolute;
  display: flex;
  vertical-align:bottom;
  padding-bottom: 18px;
  padding-top: 8px;
  right: 8%;
}

.like p{
  margin:0px;
}

.temcard {
  display: block;
  align-items: center;
  width: 100%;
}
.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.profile .photo img {
  width: 75%;
  border-radius: 3px;
}
